/* Move down content because we have a fixed navbar that is 50px tall */
html {
  height: 100%;
}

body {
  background-color: white;
/*  background-image: url("../img/ticks_@2X.png");
*/  height: 100%;
}


h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: black;
}

.navbar {
  border-radius: 0;
}

/*.navbar-brand {
  font-family: 'Merriweather', serif;
}*/

.first {
  min-height: 100%;
}

.second {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;

/*  background-image: url("../img/cream_pixels_@2X.png");
*/}

.iphone-screenshot {
  max-width: 300px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;  
}

.cycle-slideshow {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.logo {
    font-size: 6.5em;
    text-align: center;
    color: rgb(51, 83, 109);
}

/* TODO: Fix to make responsive */
.logo-container {
  margin-top: 150px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}


.tagline {
    text-align: center;
    font-size: 2em;
    color: rgb(51, 83, 109);
}

.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: -50px; left: 0; bottom: 0; right: 0;
}

.email-form{
    padding: 5px;
}

.email-input {
  padding-bottom: 10px;
}

.sign-in {
  text-align: center;
}

.login {
  margin-top: 25px;
}

.bar-graph-icon {
  font-size: 300px;
  color: #54b4eb;
  text-align: right;
}

.description-container {
  padding-left: 150px;
  padding-right: 150px;
}

.description {
    font-size: 24px;
    color: rgb(116, 135, 150);
    padding-bottom: 50px;
}

.description h2 {
  color: rgb(51, 83, 109);
}

.description-row {
  margin-bottom: 50px;
}

.description-left {
  text-align: left;
}

.description-right {
  text-align: right;
}

.signup-form-again {
  margin-top: 50px;
  text-align: center;
}

.signup-form-again h3 {
    color: rgb(51, 83, 109);
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}