/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: black;
/*  background-image: url("../img/music-crowd-01.jpg");
*/}


h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.logo {
    font-size: 5em;
    text-align: center;
    color: white;
}

/* TODO: Fix to make responsive */
.logo-container {
  margin-top: 150px;
}

.tagline {
    text-align: center;
    font-size: 24px;
    color: white;
}

.description {
/*    text-align: center;
*/    font-size: 18px;
    color: white;
}

.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: -50px; left: 0; bottom: 0; right: 0;
}

.email-form{
    padding: 5px;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}