{% extends "base.html" %}

{% block content %}

<div class="dashboard">
<div class="dashboard-header">
<h1> {{ mobileapp.name }} </h1>
</div>

<ul class="nav nav-list col-md-2">
    <li> <a href="{% url 'detail_app' pk=mobileapp.pk %}"> Growth </a> </li>
    <li> <a href="{% url 'demographics_app' pk=mobileapp.pk %}"> Demographics </a></li>
    <li class="active"> <a href="{% url 'algorithms_app' pk=mobileapp.pk %}">Algorithms </a></li>
    <li> <a href="{% url 'settings_app' pk=mobileapp.pk %}">Settings </a></li>

</ul>

<div class="algorithms">
    <ul>
        <li> Algorithms used: </li>
    </ul>
</div>
</div>

{% endblock content %}