{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<meta charset="utf-8">
<div class="dashboard">
<div class="dashboard-header">
<h1> {{ mobileapp.name }} </h1>
</div>

<ul class="nav nav-list col-md-2">
    <li> <a href="{% url 'detail_app' pk=mobileapp.pk %}"> Growth </a> </li>
    <li> <a href="{% url 'demographics_app' pk=mobileapp.pk %}"> Demographics </a></li>
    <li> <a href="{% url 'settings_app' pk=mobileapp.appsettings.pk %}">Settings </a></li>
</ul>

<style>
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: "grey";
}
</style>
<body>
<script type="text/javascript" src="http://sigmajs.org/js/sigma.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/sigma.parseGexf.js" %}" charset="utf-8"></script>
<script type="text/javascript">
    function init() {
// Instanciate sigma.js and customize rendering :
var sigInst = sigma.init(document.getElementById('sigma-example')).drawingProperties({
        defaultLabelColor: '#fff',
        defaultLabelSize: 0,
        defaultLabelBGColor: '#fff',
        defaultLabelHoverColor: '#000',
        labelThreshold: 6,
        defaultEdgeType: 'curve'
    }).graphProperties({
        minNodeSize: 0.5,
        maxNodeSize: 5,
        minEdgeSize: 1,
        maxEdgeSize: 1,
        sideMargin: 50
        }).mouseProperties({
        maxRatio: 32
    });
 
// Parse a GEXF encoded file to fill the graph
// (requires "sigma.parseGexf.js" to be included)
    sigInst.parseGexf("{% static "img/like_network_mine_weighted.gexf" %}");
 
// Draw the graph :
    sigInst.draw();
}
 
if (document.addEventListener) {
    document.addEventListener("DOMContentLoaded", init, false);
    } else {
    window.onload = init;
}

</script>
</body>
</html>

<div id="sigma-example" style="width: 1000px; height: 750px;"></div>

{% endblock content %}
