{% extends "apps/mobileapp_base.html" %}
{% block mobileapp-content %}
{% load staticfiles %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static "js/date.js" %}"></script>
<script type="text/javascript">
    
    function lastMonth(){
        var days = [];
        var daysAgo = Date.today().add({days: -28});
        while (daysAgo <= Date.today()){
            days.push(new Date(daysAgo))
            daysAgo.add({days:1})
        }
        return days
    }


      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

    function drawChart() {

        days = lastMonth();
        formatted_data = [];
        formatted_data[0] = ['Day','Shares', 'Conversions'];
        data = JSON.parse("{{dates_invited|escapejs}}");
        for (var i = 1; i <= days.length; i++){
            found = false
            day = days[i-1];
            for (key in data){
                current = Date.parse(key);
                if (day.valueOf() == current.valueOf()){
                    formatted_data[i] = [current.toString("dd MMM")].concat(data[key]);
                    found = true
                }
            }

            if (!found){
                console.log("!found" + i.toString())
                formatted_data[i] = [day.toString("dd MMM"), 0, 0];
            }
        }

        console.log(formatted_data.toString())

        var data = google.visualization.arrayToDataTable(formatted_data);
        var options = {
          hAxis: {title: 'Day', titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart-div'));
        chart.draw(data, options);
      }
</script>
<div class = "sidebar">
<ul class="nav nav-list col-md-2">
    <li class="active"> <a href="{% url 'detail_app' pk=mobileapp.pk %}"> Growth </a> </li>
    <li> <a href="{% url 'demographics_app' pk=mobileapp.pk %}"> Demographics </a></li>
    <li> <a href="{% url 'settings_app' pk=mobileapp.appsettings.pk %}">Settings </a></li>
</ul>
</div>
<div class = "table-div">
    <table class="growth">
        <thead>
            <tr>
            <th>Users</th>
            <th>Invitations</th>
            <th>Accepted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ total_users }} </th>
                <td> {{ num_invited }} </th>
                <td> {{ num_accepted }} </th>
            </tr>
        </tbody>
    </table>
</div>
<div id="chart-div" style="width: 1000px; height: 500px;"></div>

<div class="growth">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"> Users: <span class="badge">{{ total_users }}</span></li>
                <li class="list-group-item">Number of invitations sent: <span class="badge">{{ num_invited }}</span></li>
                <li class="list-group-item"> Number of invitations accepted: <span class="badge">{{ num_accepted }}</span></li>
                {% if conversion_rate %}
                <li class="list-group-item">Conversion rate: <span class="badge">{{ conversion_rate }}</span>  </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="chart-div" style="width: 800px; height: 400px;"></div>

{% endblock mobileapp-content %}
