{% extends "base.html" %}

{% block content %}
<h1> {{ mobileapp.name }} </h1>
<ul class="nav nav-tabs">
    <li class="active"> <a href="{% url 'detail_app' pk=mobileapp.pk %}"> Growth </a> </li>
    <li> <a href="{% url 'demographics_app' pk=mobileapp.pk %}"> Demographics </a></li>
    <li> <a href="{% url 'algorithms_app' pk=mobileapp.pk %}">Algorithms </a></li>
    <li> <a href="{% url 'settings_app' pk=mobileapp.pk %}">Settings </a></li>

</ul>

<div class="growth">
    <ul>
        <li> Users: {{ total_users }}</li>
        <li> Number of invitations sent: {{ num_invited }}</li>
        <li> Number of invitations accepted: {{ num_accepted }}</li>
        {% if conversion_rate %}
        <li> Conversion rate: {{ conversion_rate }}  </li>
        {% endif %}
        
    </ul>
</div>


{% endblock content %}