{% extends "base.html" %}

{% block content %}
<h1> {{ mobileapp.name }} </h1>
<ul class="nav nav-tabs">
    <li class="active"> <a href="#"> Growth </a> </li>

    <li> <a href="#"> Demographics </a></li>
    <li> <a href="#">Algorithms </a></li>
    <li> <a href="#">Settings </a></li>

</ul>

<div class="growth">
    <ul>
        <li> Users: {{ total_users }}</li>
        <li> Number of times button was clicked: {{ num_suggested_list }} </li>
        <li> Number of invitations sent: {{ num_invited }}</li>
        <li> Number of invitations accepted: {{ num_accepted }}</li>
        {% if conversion_rate %}
        <li> Conversion rate: {{ conversion_rate }}  </li>
        {% endif %}
        
    </ul>
</div>

<div class="demographics">
    <ul>
        <li> Percent Male / Percent Female: </li>
        <li> Age groups: </li>
    </ul>
</div>

<div class="algorithms">
    <ul>
        <li> Algorithms used:
{% endblock content %}