{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>{% block title %}Sterling{% endblock title %}</title>

  <nav class="navbar navbar-default" role="navigation">
    <div class='navbar-header'>
      <a class="navbar-brand"><i class="fa fa-circle-o" style="padding-right: 3px"></i>   sterling </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}

        {% for app in user.mobileapp_set.all %}
            <li><a href="{% url 'detail_app' app.pk %}"> {{ app }} </a></li>
        {% endfor %}

        <li><a href="{% url "app_list" %}">My Apps</a></li>

        <li><a href="{% url "logout" %}">Logout</a></li>

        {% else %}
        <li><a href="{% url "index" %}">Home</a></li>
  <!--       <li><a href="{% url "login" %}">Login</a></li> -->
  <!--       <li><a href="{% url "registration_register" %}">Sign up</a></li>
   -->      {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css" rel="stylesheet">
  <link href="{% static "css/my.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      {% block content %}

      {% endblock content %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.cycle2.js"></script>
    
  </body>
  </html>
