{% extends "base.html" %}

{% block content %}
  <div class="container">
<!--         <div class="absolute-center">
-->          <div class="row">
        {% if signup_success %}
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Thank you for your interest!
        </div>
        {% elif error %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Invalid email. Please try again.
        </div>
        {% endif %}

        <div class="col-md-6 col-md-push-6">
          <div class="logo-container">
            <h1 class="logo">Sterling</h1>
            <h3 class="tagline"> User acquisition made easy </h3>
            <hr>
          
          <form class="email-form" role="form" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="input-group email-input">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="email" class="form-control" name="email" placeholder="Enter your email to get on the waiting list.">
            </div>
            <button type="submit" class="btn btn-primary btn-large btn-block btn-submit">Sign up</button>
          </form>
          <p class="sign-in"> or <a href="{% url "login" %}">Sign in</a></p>
        </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <div class="slideshow-container">
            <div class="cycle-slideshow" data-cycle-fx='none' data-cycle-timeout="10">
               <img class="img-responsive iphone-screenshot center-block screenshot-1" src="static/img/screenshots/screenshot-1.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-2.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-3.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-4.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-5.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-1" src="static/img/screenshots/screenshot-6.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-7.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-8.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-9.png"/>
               <img class="img-responsive iphone-screenshot center-block screenshot-2" src="static/img/screenshots/screenshot-10.png"/>
            </div>
         </div>
        </div>
      </div>
  </div> <!-- /container -->
</div>
<hr>
<div class="second">
  <div class="container description-container">
    <div class="row description-row">
      <div class="col-md-6">
        <div class="description description-left">
        <h2> Sharing done right </h2>
        <p> Say goodbye to alphabetical friend lists. Sterling presents users with a friend list designed to spread your app.  </p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <i class="fa fa-facebook-square bar-graph-icon" style="padding-left: 15px"></i> 
      </div>
    </div>
    <div class="row description-row">
      <div class="col-md-3">
        <i class="fa fa-bar-chart-o bar-graph-icon"></i> 
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="description description-left">
          <h2> Social analytics </h2>
          <p> Visualize your app spreading across social networks. Know where your app is going so you can make the best decisions for your business.</p>
        </div>
      </div>
    </div>
    <div class="row description-row">
      <div class="col-md-6">
        <div class="description description-left">
          <h2> Easy to use </h2>
          <p> Drop this into your app in less than 15 minutes. Then sit back, have a beer, and see your app go viral. </p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <i class="fa fa-group bar-graph-icon"></i> 
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="signup-form-again">
        <h3> We're in closed beta. Sign up below for updates. </h3>
        <form class="email-form" role="form" method="post" action="{% url 'index' %}">
              {% csrf_token %}
              <div class="input-group email-input">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input type="email" class="form-control" name="email" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-primary btn-large btn-block btn-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}